Prepocessing dataset

Door : Cuppen Brian en Driessens Lucas

In [6]:
%matplotlib inline
import datetime
import calendar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# ML libraries inladen
# Voor statistische data visualisatie
import seaborn as sns; sns.set(color_codes=True)

In [7]:
dataset = pd.read_csv('Anime2.csv')
dataset.shape

(24000, 5)

In [8]:
dataset.head(2)

,Unnamed: 0,Rank,Title,Link,Score
0,0,1.0,Fullmetal Alchemist: Brotherhood,https://myanimelist.net/anime/5114/Fullmetal_A...,9.11
1,1,2.0,Bleach: Sennen Kessen-hen,https://myanimelist.net/anime/41467/Bleach__Se...,9.10

In [9]:
#check if there are any null values
if dataset.isnull().values.any():
    print("There are null values, beaware")
else:
    print("There are no null values")

dataset.head(2)

There are null values, beaware

,Unnamed: 0,Rank,Title,Link,Score
0,0,1.0,Fullmetal Alchemist: Brotherhood,https://myanimelist.net/anime/5114/Fullmetal_A...,9.11
1,1,2.0,Bleach: Sennen Kessen-hen,https://myanimelist.net/anime/41467/Bleach__Se...,9.10

In [10]:
#Query 1 : top anime list [rank,Name]
#Name = Title + 'score:' + Score
dataset['Name'] = dataset['Title'] + ' score: ' + dataset['Score'].astype(str)
#check if there are no missing titles and ranking
if dataset['Title'].isnull().values.any() | dataset['Name'].isnull().values.any():
    print("There are null values")
else:
    print("There are no null values")
#export colums into a json file
dataset[['Rank','Name']].head(25).to_json('top_anime_list2.json',orient='records')
print("jsons exported")

There are no null values
jsons exported

In [11]:
dataset.head(2)

,Unnamed: 0,Rank,Title,Link,Score,Name
0,0,1.0,Fullmetal Alchemist: Brotherhood,https://myanimelist.net/anime/5114/Fullmetal_A...,9.11,Fullmetal Alchemist: Brotherhood score: 9.11
1,1,2.0,Bleach: Sennen Kessen-hen,https://myanimelist.net/anime/41467/Bleach__Se...,9.10,Bleach: Sennen Kessen-hen score: 9.1